@model Headlines

@{
    ViewData["Title"] = "Brownies";
}

<div class="jumbotron-fluid col-12 mb-4 mt-2">
    <h3 class="text-center text-muted">Headlines Fetched: @Model.TotalResults</h3>
</div>

<div class="container-fluid">
    @foreach (var article in Model.Articles)
    {
    <div class="card mb-4 border-dark">
        <div class="card-body">
            <h5 class="card-title">@article.Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">@article.PublishedAt.Humanize()</h6>
            <!--INFOLINKS_ON-->
            <p class="card-text">@article.Content</p>
            <!--INFOLINKS_OFF-->
            <a class="card-link btn btn-dark" href="@article.Url" target="_blank">Source</a>
        </div>
    </div>
    }
</div>