@inject IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A Brown Wolf Studio Initiative! Small, simple and clean headline curator." />
    <meta itemProp="name" content="Brownies" />
    <meta itemProp="description" content="A Brown Wolf Studio Initiative! Small, simple and clean headline curator." />
    <meta itemProp="image" content="@($"{Context.Request.Scheme}://{Context.Request.Host}")/res/BWS.png" />
    <meta property="og:url" content="@($"{Context.Request.Scheme}://{Context.Request.Host}")" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Brownies" />
    <meta property="og:description" content="A Brown Wolf Studio Initiative! Small, simple and clean headline curator." />
    <meta property="og:image" content="@($"{Context.Request.Scheme}://{Context.Request.Host}")/res/BWS.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Brownies" />
    <meta name="twitter:description" content="A Brown Wolf Studio Initiative! Small, simple and clean headline curator." />


    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link href="~/lib/materialize/css/materialize.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </environment>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <div class="nav-wrapper deep-purple">
            <a asp-area="" asp-route="HomePage" class="brand-logo ml-10 left">Brownies</a>
            <ul class="right">
                <li><a class="white deep-purple-text waves-effect waves-light btn" href="https://ko-fi.com/thebinaryguy" target="_blank">Buy me a Ko-fi<i class="material-icons right">sentiment_very_satisfied</i></a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="row">
            @RenderBody()
        </div>
    </main>

    <footer class="page-footer deep-purple">
        <div class="footer">
            <a asp-controller="Home" asp-action="Index" class="white-text ml-10">Brownies @Configuration["APP_VERSION"]</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="grey-text text-lighten-4 right mr-10">Privacy</a>
        </div>
        <br />
        <div class="footer">
            <span class="ml-10">&copy; @DateTime.Now.Year <a href="https://brownwolfstudio.com/" target="_blank" class="grey-text text-lighten-4">Brown Wolf Studio</a></span>
            <a href="https://newsapi.org/" target="_blank" class="grey-text text-lighten-4 right mr-10">Powered by News API</a>
        </div>
        <br />
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/materialize/js/materialize.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </environment>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
