@inject IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A Brown Wolf Studio Initiative! Simple and clean frontend for News API." />
    <meta itemProp="name" content="Brownies" />
    <meta itemProp="description" content="A Brown Wolf Studio Initiative! Simple and clean frontend for News API." />
    <meta itemProp="image" content="@($"{Context.Request.Scheme}://{Context.Request.Host}")/res/BWS.png" />
    <meta property="og:url" content="@($"{Context.Request.Scheme}://{Context.Request.Host}")" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Brownies" />
    <meta property="og:description" content="A Brown Wolf Studio Initiative! Simple and clean frontend for News API." />
    <meta property="og:image" content="@($"{Context.Request.Scheme}://{Context.Request.Host}")/res/BWS.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Brownies" />
    <meta name="twitter:description" content="A Brown Wolf Studio Initiative! Simple and clean frontend for News API." />


    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link href="~/lib/materialize/css/materialize.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </environment>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <div class="nav-wrapper deep-purple">
            <a asp-area="" asp-route="HomePage" class="brand-logo ml-10 left">Brownies</a>
            <ul class="right">
                <li><a class="white deep-purple-text waves-effect waves-light btn" href="https://ko-fi.com/thebinaryguy" target="_blank">Buy me a Ko-fi<i class="material-icons right">sentiment_very_satisfied</i></a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="row">
            @RenderBody()
        </div>
    </main>

    <footer class="page-footer deep-purple footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About This Project</h5>
                    <p class="grey-text text-lighten-4">This project is a <a href="https://brownwolfstudio.com/" target="_blank" class="orange-text">Brown Wolf Studio</a> initiative! <a asp-controller="Home" asp-action="Index" class="orange-text">Brownies</a>, as we are calling it, aims to be a simple and clean frontend for <a href="https://newsapi.org/" target="_blank" class="orange-text">News API</a>.</p>
                </div>
                <div class="col l4 offset-l2 s12 right-align">
                    <h5 class="white-text">Tech Stack</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://dotnet.microsoft.com/" target="_blank">.Net Core</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://materializecss.com/" target="_blank">Materialize CSS</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://jquery.com/" target="_blank">jQuery</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://heroku.com/" target="_blank">Heroku</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; @DateTime.Now.Year <a href="https://brownwolfstudio.com/" target="_blank" class="grey-text text-lighten-4">Brown Wolf Studio</a>
                <a asp-controller="Home" asp-action="Index" class="grey-text text-lighten-4 right">Brownies @Configuration["APP_VERSION"]</a>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/materialize/js/materialize.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </environment>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
