@inject IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A Brown Wolf Studio Initiative! Simple and clean frontend for News API." />
    <meta itemProp="name" content="Brownies" />
    <meta itemProp="description" content="A Brown Wolf Studio Initiative! Simple and clean frontend for News API." />
    <meta itemProp="image" content="@($"{Context.Request.Scheme}://{Context.Request.Host}")/res/BWS.png" />
    <meta property="og:url" content="@($"{Context.Request.Scheme}://{Context.Request.Host}")" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Brownies" />
    <meta property="og:description" content="A Brown Wolf Studio Initiative! Simple and clean frontend for News API." />
    <meta property="og:image" content="@($"{Context.Request.Scheme}://{Context.Request.Host}")/res/BWS.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Brownies" />
    <meta name="twitter:description" content="A Brown Wolf Studio Initiative! Simple and clean frontend for News API." />


    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link href="~/lib/materialize/css/materialize.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </environment>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <div class="nav-wrapper deep-purple">
            <a asp-area="" asp-route="HomePage" class="brand-logo ml-10 left">Brownies</a>
            <ul class="right">
                <li><a class="white deep-purple-text waves-effect waves-light btn" href="https://ko-fi.com/thebinaryguy" target="_blank">Buy me a Ko-fi<i class="material-icons right">sentiment_very_satisfied</i></a></li>
            </ul>
        </div>
    </nav>

    <h1 style="display: none;">Brownies</h1>

    <main>
        <div class="row">
            @RenderBody()
        </div>
    </main>

    <footer class="page-footer deep-purple footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About This Project</h5>
                    <p class="grey-text text-lighten-4">This project is a <a href="https://brownwolfstudio.com/" target="_blank" class="orange-text">Brown Wolf Studio</a> initiative! <a asp-controller="Home" asp-action="Index" class="orange-text">Brownies</a>, as we are calling it, aims to be a simple and clean frontend for <a href="https://newsapi.org/" target="_blank" class="orange-text">News API</a>.</p>
                    <ul class="share-icons">
                        <li class="grey-text text-lighten-3">Shout us out: </li>
                        <li><a class="grey-text text-lighten-3" href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fnews.brownwolfstudio.com%2F&text=Brownies:%20https%3A%2F%2Fnews.brownwolfstudio.com%2F&via=brownwolfstudio" target="_blank" title="Tweet"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fnews.brownwolfstudio.com%2F&quote=Brownies" title="Share on Facebook" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a class="grey-text text-lighten-3" href="https://plus.google.com/share?url=https%3A%2F%2Fnews.brownwolfstudio.com%2F" target="_blank" title="Share on Google+"><i class="fab fa-google-plus-square"></i></a></li>
                        <li><a class="grey-text text-lighten-3" href="http://www.reddit.com/submit?url=https%3A%2F%2Fnews.brownwolfstudio.com%2F&title=Brownies" target="_blank" title="Submit to Reddit"><i class="fab fa-reddit-square"></i></a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fnews.brownwolfstudio.com%2F&title=Brownies&summary=A%20Brown%20Wolf%20Studio%20Initiative!%20Simple%20and%20clean%20frontend%20for%20News%20API.&source=https%3A%2F%2Fnews.brownwolfstudio.com%2F" target="_blank" title="Share on LinkedIn"><i class="fab fa-linkedin"></i></a></li>
                        <li><a class="grey-text text-lighten-3" href="mailto:?subject=Brownies&body=A%20Brown%20Wolf%20Studio%20Initiative!%20Simple%20and%20clean%20frontend%20for%20News%20API.:%20https%3A%2F%2Fnews.brownwolfstudio.com%2F" target="_blank" title="Send email"><i class="fas fa-envelope-square"></i></a></li>
                    </ul>
                </div>
                <div class="col l4 offset-l2 s12 right-align">
                    <h5 class="white-text">We <i class="fas fa-heart red-text"></i> Open Source</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://dotnet.microsoft.com/" target="_blank">.Net Core</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://heroku.com/" target="_blank">Heroku</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://jquery.com/" target="_blank">jQuery</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://materializecss.com/" target="_blank">Materialize CSS</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://fontawesome.com/" target="_blank">Font Awesome</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; @DateTime.Now.Year <a href="https://brownwolfstudio.com/" target="_blank" class="grey-text text-lighten-4">Brown Wolf Studio</a>
                <a asp-controller="Home" asp-action="Index" class="grey-text text-lighten-4 right">Brownies @Configuration["APP_VERSION"]</a>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/materialize/js/materialize.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </environment>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
